/* style.css for index.html */

body {
    background-color: #F4F1E8;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px; /* This adjusts the logo up a bit */
}
.header-logo {
    width: 337px;
    height: 337px;
}

.main-text-container,
.sub-text-container
 {
    display: flex;
    justify-content: center;
    align-items: center; /* Optional for vertical centering */
}

.main-text {
    font-family: "Radley", serif;
    font-size: 86.2px;
}

/* Styling for the main text */
.italic {
    font-style: italic;
}
.darkbrown {
    color: #9B4819;
}

.sub-text-container {
    margin-top: -120px;
}