/* style.css for index.html */

body {
    background-color: #F4F1E8;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo {
    width: 250px;
    height: 250px;
}